@model PizzaStore.Models.Pizza
@{
    ViewBag.Title = "Edit";
}

<h2>Edytuj pizze</h2>

@using (Html.BeginForm("_Edit", "Home", FormMethod.Post))
{

    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            <div class="col-md-2">Nazwa</div>
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">Cena</div>
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">Wegetariańska</div>
            <div class="col-md-5">
                @Html.CheckBoxFor(model => model.IsVegetarian, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
        <div class="col-md-2">Zdjęcie</div>
        <div class="col-md-5">
            @Html.TextBoxFor(model => model.Image, new { @class = "form-control" })
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edytuj" class="btn btn-success" />
            </div>
        </div>
    </div>
}

